[Unit]
Description=Lanzar drive-sync cada 60 segundos
Requires=drive-sync.service

[Timer]
# Primera ejecución 30s después del boot
OnBootSec=30s
# Después cada 60s
OnUnitActiveSec=60s
Unit=drive-sync.service

[Install]
WantedBy=timers.target
